* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    color: #EEEEEE;
}

body {
    background: rgb(149,173,190);
    background: linear-gradient(90deg, rgba(149,173,190,1) 0%, rgba(224,240,234,1) 100%);
}

.content {
    width: 80%;
    margin: auto;
}

.navbar {
    background: rgb(87,79,125);
    background: linear-gradient(90deg, rgba(87,79,125,1) 0%, rgba(69,63,98,1) 100%);
    display: flex;
}

.nav-button {
    padding: 1rem 1rem 1rem 1rem;
}

.nav-button:hover {
background-color: #95adbe;
}

.container {
    text-align: center;
    display: inline;
}

.contain {
    display: flex;
}

.grid {
    margin: 1rem;
    flex-basis: 50%;
}

.contact-info {
    margin-left: 2rem;
}

p .contact-info {
    margin: 0;
}

section {
    margin-bottom: 4rem;
    margin-top: 1rem;
    display: inline-block;
}

a {
    text-decoration: none;
}

p {
    color: #503a65;
    font-weight: 600;
    line-height: 1.7rem;
    margin: 2rem;
}

h1, h2, h3, h4, h5, h6, i {
    color: #503a65;
}
