* {
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #EEEEEE;
}

#ham {
    display: none;
}

i a {
    color: #302622; 
}

body {
    background-image:
    linear-gradient(to bottom, rgba(255, 255, 255, .8), rgba(255, 255, 255, 1)), url(./images/dirt.png);
    background-size: cover;
}

.contact-info i {
    margin-right: 5px;
}



#contact {
    margin-left: 3rem;
}

.content {
    width: 90%;
    margin: auto;
}

.navbar {
    background-color: #302622;
    display: flex;
    width: 100%;
}

.calccontent {
    display: flex;
    flex-direction: row;
    text-align: center;
}

#diagram {
    padding-left: 0%;
    width: 100%;
    margin-left: -6rem;

}

#calculator {
    width: 100%;
    text-align: left;
    margin-left: 6rem;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: 3rem;
    caret-color: #302622;
}

em, sup, span {
    color: #4a3932;
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
}

.inputs h1 {
    color: #a8998e;
}

input[type="number"] {
    text-indent: 20px;
    color: #4a3932;
    font-weight: 700;
}

::placeholder {
    color: #8c7c77;
    font-weight: 700;
}


.calcin {
    height: 40px;
    margin: 12px;
}

#subbutt {
    height: 40px;
    width: 90px;
    margin: auto;
    padding: 0 10px;
    font-weight: 700;
    color: #302622;

}
#map {
    width: 100%;
    text-align: center;
}

iframe {
    width: 80%;
}

.legend {
    text-align: center;
    margin-top: -3rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
}

.b125 {
    border-style: solid;
    border-color: #880E4F80;
    background-color: #880E4F80;
    color: transparent;
}

.b150 {
    border-style: solid;
    border-color: #79554880;
    background-color: #79554880;
    color: transparent;
}

.legend-item {
    color: #302622;
    font-weight: 400;
    font-size: 20px;
}

#l {
    position: absolute;
    top: 13rem;
    left: 53rem;
}

#w {
    position: absolute;
    top: 19rem;
    left: 53rem;
}

#h {
    position: absolute;
    top: 26rem;
    left: 57rem;
}

#calculator h1 {
    margin-top: 2rem;
    margin-right: 1rem;
}

#faqs p {
    margin-top: .5rem;
}

#faqs h1 {
    margin-bottom: 2rem;
}

.nav-button {
    padding: 1rem 1rem 1rem 1rem;
}

.nav-button:hover {
background-color: #5b4e4a;
}

.container {
    text-align: center;
    display: inline;
}

.contain {
    display: flex;
}

.grid {
    margin: 1rem;
    flex-basis: 50%;
}
#homemisc h2 {
    margin-top: 3rem; margin-left: 3rem;
}
h2 {
    margin-top: 1rem;
}

li {
    color: #302622;
    margin-left: 5rem;
    margin-top: 1rem;
}

.pay {
    font-size: 35px;
    margin-top: 10px;
    margin: 8px;
}

.contact-info {
    margin-left: 2rem;
}

p .contact-info {
    margin: 0;
}

section {
    margin-bottom: 4rem;
    margin-top: 1rem;
    display: inline-block;
}

a {
    text-decoration: none;
}

p {
    color: #4a3932;
    font-weight: 400;
    line-height: 1.7rem;
    margin: 2rem;
}

h1, h2, h3, h4, h5, h6, i {
    color: #4a3932;
}

.grid h2 {
    margin-left: 2rem;
}

h1 {
    /* margin: 2rem; */
}

img {
    border-radius: 15px;
}

#truck {
    box-shadow: 8px 8px 6px #aaa;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 20px;
    column-gap: 20px;
    text-align: center;
    margin-top: 3rem;
}



#material {
    width: 80%;
    margin-left: 2rem;
}

#material h3 {
    margin-left: 1rem;
    width: 80%;
}

#material h1 {
    text-decoration: underline;
    margin-top: 1rem;
}

.mat {
    display: flex;
}

.price {
    font-size: 24px!important;
    font-weight: 700!important;
}
#material p {
    margin: 0;
}

#material h3 h1 {
    width: 90%;
    display: flex;
}




.grid-item p {
    margin: 0;
    font-weight: 400;
    line-height: normal;
}

.grid-item img {
    box-shadow: 4px 4px 3px #aaa;
}

.grid-item {
    text-align: left;
}

.hours {
    margin-left: 3rem;
    font-size: 15px;

}

@media (max-width: 600px) {
    .legend {
        text-align: center;
        margin-top: -3rem;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: .2rem;
    }
    .legend-item {
        margin-left: 1rem;
    }
    .navbar {
        width: 100%;
        display: none;
        flex-direction: column;
    }
    .hours {
        margin-top: 1rem;
        font-size: 15px;
    }
    .calccontent {
        display: inline;
        margin: 0;
        text-align: center;

    }
    #map {
        text-align: center;
        margin-left: 1rem;
    }
    .content {
        width: 100%;
        margin: -1rem;
    }

    iframe {
        width: 100%;
        height: 300px;
    }

    .nav-button {
        border-style: solid;
        border-width: 1px;
        border-color: #8c7c77;
    }

    #ham {
        display: block;
        font-size: 50px;
        font-weight: 700;
        color: #302622;
        margin-left: 1rem;
    }

    #logo {
        position: absolute;
        top: 0;
        right: 0;
        width: 60%;
        display: none;
    }
    #truck {
        width: 80%;
    }
    h1 {
        margin-left: 2rem;
    }
    .contain {
        flex-direction: column;
    }
    .grid {
        margin: 0rem;
        padding: 0;
        flex-basis: 100%;
        padding-left: 1rem;
    }
    .grid p {
        margin-top: -1rem;
    }
    .grid h2 {
        margin-left: 1.5rem;
        width: 80%;
        text-align: center;
        font-size: 18px;
    }

    #faqs h3 {
        margin-left: 2rem;
    }
    #diagram {
        display: none;
    }
    #calculator {
        width: 100%;
        text-align: center;
        margin: 0;
    }
}
